{% extends 'base.html.twig' %}

{% block title %}- Liste des évènements{% endblock %}

{% block body %}

<div class="container">
        
    <table>
        <thead>
            <tr>
                <th colspan="1">Nom</th>
                <th colspan="1">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>évènement_1</td>
                <td>date_1</td>
            </tr>
            <tr>
                <td>évènement_2</td>
                <td>date_2</td>
            </tr>
            <tr>
                <td>évènement_3</td>
                <td>date_3</td>

            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
