html, body {
    margin:0;
    padding:0;
    height:100%;
 }

 body {
    position: relative;
 }

.logo-nav {
    width: 5rem;
    height: auto;
    margin-right: 2rem;
}

.navbar {
    background-color: rgb(30, 131, 190);
    background-position:bottom;
    width: 100%;
    height: 5rem;
}

.nav-item {
    font-size: 1.2rem;
}

#navbarNav .nav-link {
    color: white;
}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 80px;
   background-color: rgb(30, 131, 190);
   padding: 0rem;
   text-align: center;
}

.footer-text {
    margin: 0.5rem 0;
    color: rgb(255, 255, 255);
}

.footer-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-right: 3rem;
    margin-bottom: 0;
}

.footer-list-text {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer-list :hover {
    color: rgb(255, 0, 0);
}

/* roster-template */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.right-container {
    width: 31rem;
}

.left-container {
    width: 31rem;
}

.roster-table {
    padding: 2rem;
    color: white;
    margin: auto;
}

.roster-table th {
    background-color: #617ba1;
    text-align: center;
    font-weight: bold;
}

.roster-table tbody tr:nth-child(even) {
    background-color: #88C9FB;
}

.roster-table tbody tr:nth-child(odd) {
    background-color: #1B2F4E;
}

.roster-table tbody td {
    padding: 0 1rem;
}
