/* ---------------------- NavBar + Footer ---------------------- */

html, body {
    margin:0;
    padding:0;
    height:100%;
 }

body {
    position: relative;
    background-image: url(../images/og-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: rgba(30, 131, 190, 0.418);
    background-position:bottom;
    width: 100%;
    height: 10rem;
    padding-left: 2rem;
}
    
.logo-nav {
    width: 8rem;
    /* width à partir de de 768px 13 rem */
    height: auto;
    margin: 0 2rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    font-size: 1.3rem;
    margin: 2rem;
}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 2.5rem;
   background-color: rgb(30, 131, 190, 0.418);
   padding: 0rem;
   text-align: center;
}

.footer-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0.5rem;
}

.footer-list-text {
    color: rgb(255, 255, 255);
}

/* ---------------------- calendrier ---------------------- */
#calendar {
    width: 45rem;
    margin: auto;
}


/* ---------------------- container principaux ---------------------- */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4rem auto;
}

.left-container {
    width: 31rem;
}

.right-container {
    width: 31rem;
}


/* ---------------------- textes ---------------------- */
h1 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: rgb(211, 43, 226);
}


/* ---------------------- boutons ---------------------- */
.button-top {
    text-align: end;
    margin-right: 2rem;
    margin-top: 4rem;
}


/* ---------------------- tables ---------------------- */
table {
    padding: 2rem;
    color: white;
    margin: auto;
    text-align: center;
}

table th  {
    background-color: #6179a180;
    font-weight: bold;
    color: white;
}

table tbody tr:nth-child(even) {
    background-color: #88c9fbab;
}

table tbody tr:nth-child(odd) {
    background-color: #1b2f4ead;
}

table tbody td {
    padding: 0 1rem;
    color: white;
}

/* ---------------------- MEDIA-QUERIES ---------------------- */
@media (min-width: 384px) {
    .logo-nav {
        width: 13rem;
    }
}