{% extends 'base.html.twig' %}

{% block title %}- Liste des raids{% endblock %}

{% block body %}
<div class="container">
        
    <table>
        <thead>
            <tr>
                <th colspan="1">Nom</th>
                <th colspan="1">Stats</th>
                <th colspan="1">Prochain évènement</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>nom_1</td>
                <td>stats_1</td>
                <td>date_1</td>
            </tr>
            <tr>
                <td>nom_2</td>
                <td>stats_2</td>
                <td>date_2</td>
            </tr>
            <tr>
                <td>nom_3</td>
                <td>stats_3</td>
                <td>date_3</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
