{% extends 'base.html.twig' %}

{% block title %}- Liste des items{% endblock %}

{% block body %}

<div class="container">
    <table>
        <thead>
            <tr>
                <th colspan="1">Item</th>
                <th colspan="1">Emplacement</th>
                <th colspan="1">Donjon</th>
                <th colspan="1">Type</th>
                <th colspan="1">R么le</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>item 1</td>
                <td>emplacement</td>
                <td>donjon</td>
                <td>type</td>
                <td>r么le</td>
            </tr>
            <tr>
                <td>item 2</td>
                <td>emplacement</td>
                <td>donjon</td>
                <td>type</td>
                <td>r么le</td>
            </tr>
            <tr>
                <td>item 3</td>
                <td>emplacement</td>
                <td>donjon</td>
                <td>type</td>
                <td>r么le</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}